<div class="resume">
	<div class="row">
		<div class="col-md-4 col-md-offset-7">
			<h2>Muzhi Yang</h2>
				<div class="contactInfo">
					<p class="pull-left" id="p1">Phone:+1 (604)-603-6266</p>
					<p class="pull-right">Email:yangmuzhi1993@gmail.com</p>
				</div>
				<div class="profile">
					<h3>PROFILE</h3>
					<p>Computer science graduate seeking for a developer position. Initiative taker with excellent logical, analytical and computational skills. Team player with ability to work under pressure.</p>
				</div>
				<div class="education">
					<h3>EDUCATION</h3>
					<p><strong>Bachelor of Science</strong>, Computer Science Major, Commerce Minor (GPA: A-)</p>
					<p>Faculty of Science, University of British Columbia, Vancouver, BC</p>
					<ul>
						<li>Dean’s Honour List 2015-2016</li>
						<li>Faculty of Science International Student Scholarship 2016</li>
					</ul>
				</div>
				<div class="workExp">
					<h3>Work Experience</h3>
					<div id="workOne">
						<div class="row">
							<div class="pull-left">
								<p><strong>Quality Assurance Analyst</strong>, UBCIT</p>
							</div>
							<div class="pull-right">
								<p>Jan-Aug 2015</p>
							</div>
							<p class="p1">Helped UBC professors to teach courses: “Introduction to Operation System” and “Advanced Relational database”. </p>
						</div>
						
						<ul>
							<li>Worked in an agile development team and took part in daily scrum.</li>
							<li>Wrote numerous automation scripts using Java and JavaScript.</li>
							<li>Tested different web applications (HTML, CSS, JavaScript).</li>
							<li>Successfully communicated teammates quickly and efficiently.</li>
						</ul>
					</div>
					<div id="workTwo">
						<div class="row">
							<div class="pull-left">
								<p><strong>Undergraduate Teaching Assistant</strong>, University of British Columbia</p>
							</div>
							<div class="pull-right">
								<p>Sept 2015 - Dec 2016</p>
							</div>
							<p class="p1">Helped UBC professors to teach courses: “Introduction to Operation System” and “Advanced Relational database”.</p>
						</div>
						<ul>
							<li>Hold office hour weekly to answer students’ different questions.</li>
							<li>Marked more than hundred assignments every week, and always finished before deadline.</li>
							<li>Monitored both midterm and final examinations, and marked these test papers.</li>
						</ul>
					</div>
				</div>
		</div>
	</div>
</div>

<link rel='stylesheet' href='css/main.css'/>