<div class="resume">
	<div class="row">
		<div class="col-md-4 col-md-offset-7">
			<h2>Muzhi Yang</h2>
				<div class="contactInfo">
					<p class="pull-left" id="p1">Phone:+1 (604)-603-6266</p>
					<p class="pull-right">Email:yangmuzhi1993@gmail.com</p>
				</div>
				<div class="profile">
					<h3>PROFILE</h3>
					<p>Computer science graduate seeking for a developer position. Initiative taker with excellent logical, analytical and computational skills. Team player with ability to work under pressure.</p>
				</div>
				<div class="education">
					<h3>EDUCATION</h3>
					<p><strong>Bachelor of Science</strong>, Computer Science Major, Commerce Minor (GPA: A-)</p>
					<p>Faculty of Science, University of British Columbia, Vancouver, BC</p>
					<ul>
						<li>Dean’s Honour List 2015-2016</li>
						<li>Faculty of Science International Student Scholarship 2016</li>
					</ul>
				</div>
				<div class="workExp">
					<h3>Work Experience</h3>
					<div id="workOne">
						<div class="row">
							<div class="pull-left">
								<p><strong>Quality Assurance Analyst</strong>, UBCIT</p>
							</div>
							<div class="pull-right">
								<p>Jan-Aug 2015</p>
							</div>
							<p class="p1">Helped UBC professors to teach courses: “Introduction to Operation System” and “Advanced Relational database”. </p>
						</div>
						
						<ul>
							<li>Worked in an agile development team and took part in daily scrum.</li>
							<li>Wrote numerous automation scripts using Java and JavaScript.</li>
							<li>Tested different web applications (HTML, CSS, JavaScript).</li>
							<li>Successfully communicated teammates quickly and efficiently.</li>
						</ul>
					</div>
					<div id="workTwo">
						<div class="row">
							<div class="pull-left">
								<p><strong>Undergraduate Teaching Assistant</strong>, University of British Columbia</p>
							</div>
							<div class="pull-right">
								<p>Sept 2015 - Dec 2016</p>
							</div>
							<p class="p1">Helped UBC professors to teach courses: “Introduction to Operation System” and “Advanced Relational database”.</p>
						</div>
						<ul>
							<li>Hold office hour weekly to answer students’ different questions.</li>
							<li>Marked more than hundred assignments every week, and always finished before deadline.</li>
							<li>Monitored both midterm and final examinations, and marked these test papers.</li>
						</ul>
					</div>
				</div>
				<div class="technicalExp">
				<h3>Technical Experience</h3>
				<div id="extOne">
					<div class="row">
						<div class="pull-left">
							<p><strong>AngularJS Web Applications</strong> (Personal)</p>
						</div>
						<div class="pull-right">
							<p>Feb 2017 - current</p>
						</div>
						<p class="p1">Self-learned AngularJS framework and applied to the personal web applications</p>
					</div>
					<ul>
						<li>Created, downloaded and applied directives into web applications.</li>
						<li>Wrote services to fetch and parse data(JSON) from Internet, and processed and used these data in applications</li>
						<li>Configured different routes by using ngRoute to assign views and controllers.</li>
						<li><a href="https://github.com/MakinoAlan">GitHub link</a></li>
					</ul>
				</div>
				<div id="extTwo">
					<div class="row">
						<div class="pull-left">
							<p><strong>WebGL Game</strong> (for Computer Graphic Course)</p>
						</div>
						<div class="pull-right">
							<p>Jan - April 2016</p>
						</div>
						<p class="p1">Used WebGL to develop a simple multiplayer online game.</p>
					</div>
					<ul>
						<li>Finished in a group of two within 2-month period and used GitHub to do the version control.</li>
						<li>Used Three.js to create and modify the 3D objects</li>
						<li>Developed game with several features: texture render, collision detection and selection.</li>
						<li><a href="https://github.com/MakinoAlan/gameAJ">GitHub link</a></li>
					</ul>
				</div>
				<div id="extThree">
					<div class="row">
						<div class="pull-left">
							<p><strong>Java Applications with MySQL</strong> (for Relational Database Course)</p>
						</div>
						<div class="pull-right">
							<p>Sept – Dec 2014</p>
						</div>
						<p class="p1">Used Java to write the application, MySQL for database initialization and JDBC to connect them together.</p>
					</div>
					<ul>
						<li>Used Java8 to construct the UI and manipulate the data with different data structure and algorithm</li>
						<li>Defined schema and ER diagram before actually design.</li>
						<li>Worked in a group of 4 and finished on time. Got 95% in the final project evaluation.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<link rel='stylesheet' href='css/main.css'/>